div(ng-include='"components/navbar/navbar-default.html"')

div.container-fluid-full
	div.p2-hero-wrapper
		div.hero
			img.pretzel-video(src='../assets/images/user1.jpg')
		div#user-img.col-lg-4.col-md-4.col-sm-4.col-xs-6
			img.img-circle.img-thumbnail.img-half-width.center-block(src='../assets/images/me.jpg')

