$white: #fff;
$black: #000;
$comp-height: 60px;

.comp {
	height: $comp-height;
	line-height: $comp-height;
	margin-left: 2px;
	position: relative;
}

.navbar-tide {
	@extend .navbar;
	margin-bottom: 0px;
}

.navbar-trans {
	@extend .navbar-inverse;
	color: $white;
	background-color: transparent;
	border-color: transparent;
	@media (max-width: $md-device) {
		position: relative;
		.navbar-brand {
			color: $black;
		}
		.navbar-nav {
			color: $black;
		}
	}
	.navbar-text {
		color: $white;
	}
	.navbar-brand {
		color: $white;
	}
	.navbar-nav {
		div {
			margin-left: 10px;
		}
		> div > a {
			color: $white;
		}
		> div > img {
			width: $comp-height/1.5;
		}

	}
	.navbar-header {
		@media (max-width: $md-device) {
			.navbar-brand {
				color: $black;
			}
		}
	}
}

.inbox-icon-container {
	width: $comp-height;
	position: relative;
	.fa-envelope-o {
		font-size: 24px;
	}
}