
div.navbar.navbar-tide.navbar-semi-inverse.navbar-fixed-top(ng-controller='NavbarCtrl')
	div.container
		div.navbar-header
			button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/') iTaiwanTour

		div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
			ul.nav.navbar-nav

			ul.nav.navbar-nav.navbar-right
				li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/signup")}')
					a(href='/signup') Sign up

				li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/login")}')
					a(href='/login') Login
				li.dropdown(ng-show='isLoggedIn()')
					p.navbar-text 哈囉！ {{ getCurrentUser().name }}
				li.dropdown(ng-show='isLoggedIn()')
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
						img.img-circle#profile-sm-img(src='../assets/images/me.jpg')
					ul.dropdown-menu(role='menu')
						li
							a(href='#') profile
						li
							a(href='#') Trip Schedule
						li(ng-show='isLoggedIn()', ng-class='{active: isActive("/logout")}')
							a(href='', ng-click='logout()') Logout

				li(ng-show='isLoggedIn()')
					a.text-white(href='/')
						div.inbox-icon-container
							i.fa.fa-envelope-o.fa-2x
								span.text-hide.hide inbox
							i.alert-count.text-center.fade 0
				li(ng-show='isLoggedIn()', ng-class='{active: isActive("/settings")}')
					a(href='/settings')
						span.glyphicon.glyphicon-cog
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Help
						span.caret

					ul.dropdown-menu(role='menu')
						li
							a(href='#') Help Topic 1
						li
							a(href='#') Help Topic 2
						