$white: #fff;
$black: #000;
$gray: rgba(0, 0, 0, 0.8);
$comp-height: 60px;
$background-semi-inverse: rgba(0.5, 0.5, 0.5, 0.3);
.comp {
	height: $comp-height;
	line-height: $comp-height;
	margin-left: 2px;
	position: relative;
}

.navbar-tide {
	@extend .navbar;
	margin-bottom: 0px;
}

.navbar-semi-inverse {
	@extend .navbar-inverse;
	@media (min-width: $md-device) {
		background-color: $background-semi-inverse;
		border-color: transparent;
		.navbar-nav {
			> li {
				> a {
					color: $white;
					&:hover {
						color: $gray;
					}
				}
				> p {
					color: $white;
				}
			}
			
		}
	}
}

#profile-sm-img {
	width: $comp-height / 1.5;
}

.inbox-icon-container {
	position: relative;
	.fa-envelope-o {
		font-size: 24px;
	}
}