div(ng-include='"components/navbar/navbar.html"')

div.container-fluid-full
	div.p1-hero-wrapper
		div#hero
			video#pretzel-video.video-playing(preload="auto", autoplay="true", loop="loop")
				source(src="../assets/minshen-community.mp4", type="video/mp4")
		//- source(src="https://a0.muscache.com/airbnb/static/London-P1-0.webm", type="video/webm")
		div.serch-area.text-center
			div.va-container.va-container-v.va-container-h
				div.intro-area.va-middle
					h2#tagline.text-branding.text-jumbo.text-contrast.row-sapce-1 當個台北人
					div#subtitle.h4.text-contrast.row-sapce-4 文化旅行，與在地人一起




div(ng-include='"components/navbar/footer.html"')
