div(ng-include='"components/navbar/navbar.html"')

div.container-fluid-full
	div.p1-hero-wrapper
		div#hero
			video#pretzel-video.video-playing(preload="auto", autoplay="true", loop="loop")
				source(src="../assets/videos/minshen-community.mp4", type="video/mp4")
				source(src="../assets/videos/minshen-community.webm", type="video/webm")
		div.search-area.text-center
			div.va-container.va-container-v.va-container-h
				div.intro-area.va-middle
					h2#tagline.text-branding.text-jumbo.text-contrast.row-sapce-1 當個台北人
					div#subtitle.h4.text-contrast.row-sapce-4 文化旅行，與在地人一起 
					a.btn.btn-default.hide-sm.text-contrast.btn-lg.btn-semi-transparent(href='/#')  一探究竟

div.container
	div.jumbotron.text-center
		h1 Hello, We are Startup
		p 想要體會台北的文化，卻又害怕不得其門而入嗎？
		p 讓我們這群生於斯 長於斯的台北人帶您認識我們吧
		p
			a.btn.btn-default.btn-lg(href="#", role="button") 一探究近
	div.row
		div.col-md-4
			div.well.well-lg
				h4.text-center 旅行不該是走馬看花</br>而是人與人的交流</br>到遠方旅行，結交好友</br>揮一揮衣袖</br>不帶走一片雲彩
			img.img-circle.img-half-width.center-block(src='../assets/images/me.jpg')
		div.col-md-4
			div.well.well-lg
				h4.text-center 用自己喜歡的方式去旅行</br>就是旅行的意義
			img.img-circle.img-half-width.center-block(src='../assets/images/me.jpg')
		div.col-md-4
			div.well.well-lg
				h4.text-center 每個人都有自己喜歡的步調，有人喜歡自然的景色於是願意花一整個下午在海邊發呆、有人喜歡都市景象因此不停在街巷穿梭，不管是哪種都能在單獨的旅行當中獲得滿足，更不會發生在根本不在意的風景區被迫停滯1小時這種事情。
			img.img-circle.img-half-width.center-block(src='../assets/images/me.jpg')
div(ng-include='"components/navbar/footer.html"')
