$font-size-jumbo: 60px;
$font-weight-jumbo: 700;
$lg-device: 1099px;
$md-device: 767px;

.container-fluid-full {
	@extend .container-fluid;
	padding-right: 0px;
	padding-left: 0px;
}


.p1-hero-wrapper {
	position: relative;
	height: 600px;
	margin-top: 0px;
	@media (max-width: $md-device) {
		height: 400px;
	}
}

#hero {
	z-index: -1;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

#pretzel-video {
	bottom: 0;
	position: absolute;
	width: 100%;
	@media (max-width: $lg-device) {
		height: 100%;
		width: auto;
	}
}

.intro-area {
	padding-bottom: 104px;
	@media (max-width: $md-device) {
		padding: 0 12.5px;	
	}
}

.search-area {
	height: 550px;
	position: relative;
	top: 50px;
	width: 100%;
	@media (max-width: $md-device) {
		height: 400px;
		top: 0px;
	}
}

#tagline {
	top: 95px;
}

.text-branding {
	text-transform: uppercase;
}

.text-contrast {
	color: #fff;
}

.text-jumbo {
	font-size: $font-size-jumbo;
	font-weight: $font-weight-jumbo;
}

.va-container {
	display: table;
	position: relative;
}

.va-container-h {
	height: 100%;
}

.va-container-v {
	width: 100%;
}

.va-middle {
	vertical-align: middle;
}

.thing-form {
	margin: 20px 0;
}

#banner {
	border-bottom: none;
	margin-top: -20px;
}

#banner h1 {
	font-size: 60px;
	line-height: 1;
	letter-spacing: -1px;
}

.hero-unit {
	position: relative;
	padding: 30px 15px;
	color: #F5F5F5;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	background: #4393B9;
}

.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #E5E5E5;
}


.container {
	color: #222;
}
